<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}
    <h3>This is info about Weather App</h3>
    <p>This Weather App is developed for the practise prupose. 
    <br>It was developed using node js and other node js modules like express, nodemon, axios, hbs. 
     <br>With this App you can able to find the temperature of you city of choice</p>
    {{>footer}}
</body>
</html>