<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}
     <h3>Hey, Greetings of the Day!</h3>
     <p>For any assitance please write us to our <a href="mailto:njnayeem@gmail.com">email</a</p>
    {{>footer}}
</body>
</html>