<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}
    <p>Weather App helps to find weather of the city of you choice.
        This diplays the latitude, longitude and temperature of the city
    </p>
    {{>footer}}
</body>
</html>